.feature {
  padding-top: 94px;
  padding-bottom: 94px;
  
  .item{
    width: 270px;

    @media screen and (max-width: 616px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
    &{
      padding: 60px 0;
    }
  }
}

.feature-icon-wrapper {
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.feature-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-info {
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}