.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  background-image: url("../images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width:1023px) {
    & {
      height: 400px;
    }
  }
}

.hero-background-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.4);
}

.hero-title {
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  font-size: 44px;
  text-transform: uppercase;
  z-index: 1;

  @media screen and (max-width:1023px) {
    & {
      font-size: 26px;
      line-height: 1.61;
      letter-spacing: 0.06em;
    }
  }
}

.hero-button {
  margin-top: 30px;
  min-height: 50px;
  width: 200px;
  padding: 10px 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;

  color: #fff;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 200ms linear;

  cursor: pointer;
  z-index: 1;

  &:hover{
    background-color: #1a86de;
  }
}